.leaflet-selection-marker-start {
	display: none;
	margin-left: -28px;
	width: 30px;
	height: 44px;
	background-image: url('images/handle_start.png');
	}

.leaflet-selection-marker-end {
	display: none;
	margin-left: -2px;
	width: 30px;
	height: 44px;
	background-image: url('images/handle_end.png');
	}

.leaflet-cursor-handler {
	margin-left: -12px;
	width: 25px;
	height: 41px;
	background-image: url('images/cursor-handler.png');
}
@media (max-width: 640px),(max-device-height: 640px) {
    .leaflet-selection-marker-start {
		display: block;
    }
    .leaflet-selection-marker-end {
		display: block;
    }
}
