[Unit]
Description=LibreOffice Online WebSocket Daemon
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/oxoolwsd
ExecStart=/usr/bin/oxoolwsd --version --o:sys_template_path=/usr/share/oxoolwsd/systemplate --o:lo_template_path=/opt/libreoffice --o:child_root_path=/usr/share/oxoolwsd --o:file_server_root_path=/usr/share/oxoolwsd
User=lool
KillMode=control-group
Restart=always

[Install]
WantedBy=multi-user.target
