
:root {
	--header-height: 64px;
}

header {
	height: var(--header-height);
}

#__SIDEBAR__ {
	position: fixed;
	top: var(--header-height);
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.offcanvas-header {
	padding-top: var(--header-height);
}

.oxool-logo {
	width: 220px;
	height: 64px;
	background-image: url("%SERVICE_ROOT%/oxool/resource/icon:light/getLogo()");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

[data-bs-theme="dark"] .oxool-logo {
	background-image: url("%SERVICE_ROOT%/oxool/resource/icon:dark/getLogo()");
}
