html, body {
	height: 100%;
}

.form-signin {
	max-width: 330px;
	padding: 1rem;
}

.form-signin .oxool-banner {
	width: 100%;
	height: 64px;
	margin-bottom: 1rem;
	background-image: url("/oxool/resource/icon:light/getLogo()");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

[data-bs-theme="dark"] .form-signin .oxool-banner {
	background-image: url("/oxool/resource/icon:dark/getLogo()");
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

#accountInput {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#passwordInput {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}