/* Document logo */
body #document-header .document-logo {
	background-image: url('/oxool/resource/icon:dark/getLogo()') !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center !important;
	width: 128px !important;
	margin-left: 8px !important;
}

/* About dialog */
#integrator-logo {
	flex-grow: 1 !important;
	background: url('images/res/logo.svg') no-repeat center/256px;
	width: 256px;
}

[data-theme='dark'] #integrator-logo {
	background: url('images/res/logo_inverted.svg') no-repeat center/256px;
}

#product-logo {
	flex-grow: 1 !important;
	background: url('images/res/about.png') no-repeat center/82px;
}

[data-theme='dark'] #product-logo {
	background: url('images/res/about.png') no-repeat center/82px;
}

#lokit-logo {
	background: url('/oxool/resource/icon:light/getAbout()') center top/82px no-repeat;
	display: flex;
	flex-grow: 1;
}

[data-theme='dark'] #lokit-logo {
	background: url('/oxool/resource/icon:dark/getAbout()') center top/82px no-repeat;
	display: flex;
	flex-grow: 1;
}

#product-name {
	justify-content: flex-start;
}
