[data-theme='dark'] {


	--doc-identify-color: transparent; /* 文件識別色 */
	--text-identify-color: #2b579a; /* 文字文件代表色 */
	--spreadsheet-identify-color: #217346; /* 試算表文件代表色 */
	--presentation-identify-color: #bc472a; /* 簡報文件代表色 */
	--drawing-identify-color: #876900; /* 繪圖文件代表色 */

	--nav-color-main-text: #fff; /* Navgation bar text color */
	--nav-selected-background-color: #fff; /* Navgation bar selected background color */
	--nav-selected-text-color: #000; /* Navgation bar selected text color */

	--color-menu-border: #555; /* 選單邊框顏色 */
	--color-menu-separator: #555; /* 選單分隔線顏色 */
	--color-menu-background: #262626; /* 選單背景顏色 */
	--color-menu-item-text: #fff; /* 選單項目文字顏色 */
	--color-menu-item-text-disabled: #888; /* 選單項目文字顏色(禁用) */
	--color-menu-item-item-checked-color: #bb0; /* 選單項目文字顏色(已勾選) */
	--color-menu-selected-text: #fff; /* 選單項目文字顏色(選取) */
	--color-menu-selected-background: var(--doc-identify-color); /* 選單項目背景顏色(選取) */

	--color-sidebar-background: #262626; /* 側邊欄背景顏色 */
}
