
.context-menu-list {
	border: 1px solid var(--color-menu-border) !important;
	background-color: var(--color-menu-background) !important;
}

.context-menu-item,  .context-menu-link {
	color: var(--color-menu-item-text) !important;
}

.context-menu-hover {
	color: var(--nav-color-main-text) !important;
	background-color: var(--doc-identify-color) !important;
}

.context-menu-hover > span > a {
	color: var(--nav-color-main-text) !important;
}

.context-menu-separator {
	border-bottom: 1px solid var(--color-menu-separator) !important;
}
